[Unit]
# A short human readable title of the unit
Description=Keroosha.SilencerBot Prod
# A list of units whose activations will occur before this unit starts.
After=network.target

[Service]
# Configures the process start-up type for this service unit, one of:
# simple - The process defined in ExecStart= will stay in the foreground while the unit is activated.
# forking - The process defined in ExecStart= will fork a background process and exit right away.
# oneshot - The process will exit right away, use with RemainAfterExit= to ensure the serice is marked as active.
# Consult the documentantion for types (https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=) other options.
Type=simple
# Command with arguments to invoke when the unit is activated.
ExecStart=/opt/apps/Keroosha.SilncerBot/app/Keroosha.SilencerBot
WorkingDirectory=/opt/apps/Keroosha.SilncerBot/app
# Configures under what conditions the unit will be restarted.
User=apps
Restart=always
CPUQuota=15%
KillSignal=SIGINT
Environment=SILENCER_BOT_CONFIG_PATH=/opt/apps/Keroosha.SilncerBot/config/config.json

[Install]
# A list of units who when activated will try and activate this unit
WantedBy=multi-user.target
